.button {
  font: inherit;
  background: none;
  border-radius: 40px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  overflow: hidden;
}

.button-primary {
  border: 1px solid #3f2191;
  color: #3f2191;
}

.button_light {
  font: inherit;
  background: none;
  border-radius: 40px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;
}
.button:hover {
  border: 2px solid #3f2191;
}
.button_light:hover {
  border: 2px solid #f4f4f4;
}

button:focus {
  outline: none !important;
}
