@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300;400;500;600;700&family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,900&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(0, 145, 255), rgb(0, 0, 100));
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.4;
}

main {
  margin: 8rem 2rem;
}

h1 {
  font-size: 2rem;
}

article {
  margin-top: 1.4rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.title {
  color: #ffffff;
  text-align: center;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #152d6d;
  padding: 0 2rem;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.7);
}

.main-header h1 {
  color: white;
  font-size: 1.6rem;
}

.vehicle-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0.5rem 0;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  width: 100%;
  max-width: 900px;
  min-width: 400px;
  background: #152d6d;
  padding: 1.3rem;
  margin: 0.8rem 0;
  border-radius: 10px;
  border: solid 1px #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 2rem 0 1rem 0;
}

.btn {
  min-width: 200px;
  padding: 0.5rem 1rem;
  border: none;
  outline: none !important;
}

.btn-outline {
  background: none;
  color: #ffffff;
  border: solid 1px #ffffff;
  border-radius: 50px;
}

.btn-outline:hover {
  background: #2c6aa8;
}

.form {
  padding: 1rem;
}

.form .form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 0.3rem;
}

.form input {
  font-size: 1rem;
  padding: 0.6rem 0.5rem;
  border: none;
  outline: none !important;
}
